# Fichiers et dossiers Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Fichiers IDE
.idea/
*.iml
*.iws
.vscode/
.settings/
.project
.classpath

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.bak
*.swp
*~

# Configuration locale
application-local.yml
application-local.properties
